body {
    background-image: url('../images/1.jpg');
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    background-position: center;
}

/* .label-on-second .title {
    font-size: 15px!important;
    padding-bottom: 5px;
    font-weight: 500;
    line-height: 1!important;
    letter-spacing: .02em!important;
    font-family: Roboto,sans-serif
} */
